.brief__container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 5vh 0;
    width: 100vw;
}

.brief__content{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    gap: 1em;
}

.brief__content--image{
    width: 100px;
    height: 100px;
    padding: 15px;
    background:  var(--background-secondary);
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--font-title);
}

.brief__content--text{
    font-size: 0.75em;
    text-align: center;
}


@media screen and (min-width: 640px ){

    .brief__content{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        width: 60vw;
        gap: 3.5em;
    }
    
    .brief__content--image{
        width: 125px;
        height: 125px;
    }


    .brief__content--text{
        font-size: 1em;
        text-align: justify;
    }
}