.contact__container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    width: 100vw;
    height: 250px;
    background: var(--background-secondary);
    background-image: url(../imgs/silicianBlack.png);
    background-size: contain;
    background-size: 2%;
    padding: 20px 40px 40px;
}

.contact__title{
    font-size: 1.5rem;
    color: var(--font-title);
    font-weight: 700;
}

.contact__list{
    display: flex;
    flex-flow: column;
    gap: 1em;

    text-align: center;
}

@media screen and (min-width: 640px ){


    .contact__list{
        display: grid;
        grid-template-columns: auto auto;
        gap: 2em;
    }

    .contact__email{
        grid-column: span 2;
    }

}