.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    width: 100vw;
    height: 10vh;
    padding: 0 5vw;
    box-sizing: border-box;
    background: var(--background-secondary);

    font-weight: bold;
    white-space: nowrap;
    border-bottom: 2px solid var(--font-primary);
}

.navbar__title{
    font-size: 1.5rem;
    cursor: default;
}


.navbar__list{
    position: absolute;
    width: 100vw;
    padding: 30px;
    top: 10vh;
    left: 0;
    
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
    
    background: var(--background-secondary);
    border-bottom: 2px solid var(--font-primary);
}

.navbar__list--active{
    display: flex;
}

.navbar__links--item{
    font-size: 0.8rem;
    padding: 10px;
    transition: 1s;
}

.navbar__button:hover{
    cursor: pointer;
}

a:visited{
    color: var(--font-primary);
}


a:hover, a:active{
    font-size: 1rem;
    color: var(--font-secondary) !important;
    transition: 1s;
}

@media screen and (min-width: 768px){

    .navbar__container{
        padding: 2.5vw;
    }

    .navbar__button{
        display: none;
    }
    
    .navbar__list{
        position: static;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;



        background: transparent;
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 0.3em;
   
        font-size: 0.3em;
    }
    
    
    

}

@media screen and (min-width: 768px){

    .navbar__button{
        display: none;
    }
    
    .navbar__list{
        position: static;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;



        background: transparent;
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 2rem;
   
        font-size: 14px;
    }  
    

}
