.skills__container{
    width: 100vw;
    padding: 10vh 0;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    
    font-weight: 700;
}

.skills__title{
    font-size: 1.8rem;
    color: var(--font-title);
}

.skills-list{
    display: flex;
    flex-flow: column;
    gap: 1em;
    width: 90vw;
}

.skills-list__item{
    width: 100%;
    padding: 8px 20px;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    
    background: var(--background-secondary);
    border-radius: 15px;
}

.skills-list__item:hover{
    font-size: 1.2em;
    transition: 0.5s;
    color: var(--font-secondary);
}

.skills-list__item--image{
    height: 30px;
}
@media screen and (min-width: 640px ){

    .skills-list{
        flex-flow: row;
        justify-content: space-around;
    }

    .skills-list__item{
        height: 100%;
        width: 20%;
        padding: 20px 0px;

        flex-flow: column;
        flex-wrap: wrap;
        gap: 2em;
    }

    .skills-list__item--image{
        height: 100px;
    }
}